<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Support NLP System{% endblock %}</title>

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
        rel="stylesheet"
    >
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

<div class="container">

<a class="navbar-brand"
href="{% url 'ticket_list' %}">
Support NLP
</a>

<div>

<a
class="btn btn-outline-light"
href="{% url 'ticket_create' %}">
Створити
</a>

<a
class="btn btn-outline-light"
href="{% url 'ticket_statistics' %}">
Статистика
</a>

{% if request.user.is_staff %}

<a
class="btn btn-warning"
href="/admin/">
Адміністрування
</a>

{% endif %}

{% if request.user.is_authenticated %}

<span class="text-light ms-3">
{{ request.user.username }}
</span>

<form
method="post"
action="{% url 'logout' %}"
style="display:inline;"
>

{% csrf_token %}

<button
class="btn btn-danger ms-2"
type="submit"
>
Вийти
</button>

</form>

{% else %}

<a
class="btn btn-success"
href="{% url 'login' %}">
Увійти
</a>

<a
class="btn btn-primary"
href="{% url 'register' %}">
Реєстрація
</a>

{% endif %}

</div>

</div>

</nav>

<div class="container mt-5">

{% block content %}
{% endblock %}

</div>

</body>

</html>