{% extends 'tickets/base.html' %}

{% block title %}Список звернень{% endblock %}

{% block content %}
<h2>Список звернень</h2>

<p>
    <a class="button" href="{% url 'ticket_create' %}">Створити нове звернення</a>
</p>

{% for ticket in tickets %}
    <div class="ticket-card">
        <h3>
            <a href="{% url 'ticket_detail' ticket.id %}">
                {{ ticket.title }}
            </a>
        </h3>

        <p>{{ ticket.text }}</p>

        <p>
            <span class="badge">Автор: {{ ticket.user|default:"Гість" }}</span>
            <span class="badge">Категорія: {{ ticket.category|default:"Не визначено" }}</span>
            <span class="badge">Відділ: {{ ticket.department|default:"Не визначено" }}</span>
            <span class="badge">Впевненість: {{ ticket.confidence }}%</span>
            <span class="badge">Статус: {{ ticket.get_status_display }}</span>
        </p>

        <p class="muted">Створено: {{ ticket.created_at }}</p>
    </div>
{% empty %}
    {% if request.user.is_authenticated %}
        <p>Звернень поки немає.</p>
    {% else %}
        <p>
            Щоб переглянути або створити звернення,
            <a href="{% url 'login' %}">увійдіть у систему</a>
            або
            <a href="{% url 'register' %}">зареєструйтеся</a>.
        </p>
    {% endif %}
{% endfor %}
{% endblock %}