{% extends 'tickets/base.html' %}

{% block title %}
Деталі звернення
{% endblock %}

{% block content %}

<div class="mb-4">
    <a href="{% url 'ticket_list' %}" class="btn btn-outline-secondary">
        ← Назад до списку
    </a>
</div>

<div class="card shadow-sm mb-4">

    <div class="card-header">
        <h2 class="mb-0">
            {{ ticket.title }}
        </h2>
    </div>

    <div class="card-body">

        <p>
            {{ ticket.text }}
        </p>

        <hr>

        <div class="row">

            <div class="col-md-6">

                <p>
                    <strong>Компанія:</strong>
                    {{ ticket.company.name }}
                </p>

                <p>
                    <strong>Джерело:</strong>
                    {{ ticket.source.name|default:"Не визначено" }}
                </p>

                <p>
                    <strong>External ID:</strong>
                    {{ ticket.external_id|default:"—" }}
                </p>

                <p>
                    <strong>Автор звернення:</strong>
                    {{ ticket.author_name|default:"—" }}
                </p>

                <p>
                    <strong>Email автора:</strong>
                    {{ ticket.author_email|default:"—" }}
                </p>

                <p>
                    <strong>Оцінка:</strong>
                    {% if ticket.rating %}
                        {{ ticket.rating }}/5
                    {% else %}
                        —
                    {% endif %}
                </p>

            </div>

            <div class="col-md-6">

                <p>
                    <strong>Категорія:</strong>
                    {{ ticket.category.name|default:"Не визначено" }}
                </p>

                <p>
                    <strong>Відділ:</strong>
                    {{ ticket.department.name|default:"Не визначено" }}
                </p>

                <p>
                    <strong>Впевненість класифікації:</strong>
                    {{ ticket.confidence|floatformat:2 }}%
                </p>

                <p>
                    <strong>Статус:</strong>
                    {{ ticket.get_status_display }}
                </p>

                <p>
                    <strong>Створено:</strong>
                    {{ ticket.created_at|date:"d.m.Y H:i" }}
                </p>

                <p>
                    <strong>Оновлено:</strong>
                    {{ ticket.updated_at|date:"d.m.Y H:i" }}
                </p>

            </div>

        </div>

    </div>

</div>

<div class="card shadow-sm mb-4">

    <div class="card-header">
        Зміна статусу
    </div>

    <div class="card-body">

       <form method="post">
        {% csrf_token %}

        <input
            type="hidden"
            name="action"
            value="update_status"
        >

        {{ status_form.as_p }}

        <button type="submit" class="btn btn-primary">
            Зберегти статус
        </button>
    </form>

    </div>

</div>

<div class="card shadow-sm mb-4">

    <div class="card-header">
        Додати коментар
    </div>

    <div class="card-body">

        <form method="post">

            {% csrf_token %}

            <input
                type="hidden"
                name="action"
                value="add_comment"
            >

            {{ comment_form.as_p }}

            <button type="submit" class="btn btn-success">
                Додати коментар
            </button>

        </form>

    </div>

</div>

<div class="card shadow-sm mb-4">

    <div class="card-header">
        Коментарі менеджерів
    </div>

    <div class="card-body">

        {% if comments %}

            {% for comment in comments %}

                <div class="border rounded p-3 mb-3">

                    <div class="d-flex justify-content-between">

                        <strong>
                            {{ comment.author.username|default:"Система" }}
                        </strong>

                        <span class="text-muted">
                            {{ comment.created_at|date:"d.m.Y H:i" }}
                        </span>

                    </div>

                    <p class="mb-1 mt-2">
                        {{ comment.text }}
                    </p>

                    {% if comment.is_internal %}
                        <span class="badge bg-secondary">
                            Внутрішній коментар
                        </span>
                    {% endif %}

                </div>

            {% endfor %}

        {% else %}

            <p class="text-muted mb-0">
                Коментарів поки немає.
            </p>

        {% endif %}

    </div>

</div>

<div class="card shadow-sm">


    <div class="card-header">
        Історія обробки звернення
    </div>

    <div class="card-body">

        {% if history %}

            {% for item in history %}

                <div class="border rounded p-3 mb-3">

                    <div class="d-flex justify-content-between">

                        <div>

                            <strong>

                                {% if item.event_type == 'created' %}
                                    🟢 Створено

                                {% elif item.event_type == 'classified' %}
                                    🧠 NLP класифікація

                                {% elif item.event_type == 'routed' %}
                                    📨 Маршрутизація

                                {% elif item.event_type == 'assigned' %}
                                    👤 Призначення менеджера

                                {% elif item.event_type == 'status_changed' %}
                                    🔄 Зміна статусу

                                {% elif item.event_type == 'comment_added' %}
                                    💬 Додано коментар

                                {% elif item.event_type == 'closed' %}
                                    ✅ Закрито

                                {% else %}
                                    Подія

                                {% endif %}

                            </strong>

                        </div>

                        <small class="text-muted">

                            {{ item.changed_at|date:"d.m.Y H:i" }}

                        </small>

                    </div>

                    <div class="mt-2">

                        {% if item.old_status or item.new_status %}

                            <div>

                               <strong>
                        {{ item.get_old_status_display|default:item.old_status }}
                    </strong>

                    →

                    <strong>
                        {{ item.get_new_status_display|default:item.new_status }}
                    </strong>

                            </div>

                        {% endif %}

                        {% if item.comment %}

                            <div class="mt-2">

                                {{ item.comment }}

                            </div>

                        {% endif %}

                    </div>

                    <small class="text-muted">

                        Автор:
                        {{ item.changed_by.username|default:"Система" }}

                    </small>

                </div>

            {% endfor %}

        {% else %}

            <p class="text-muted">

                Історія поки відсутня.

            </p>

        {% endif %}

    </div>

</div>

</div>

{% endblock %}